{
    "wallpaper": "{{base.wallpaper}}",
    "alpha": "100",

    "special": {
        "background": "#{{base00-hex}}",
        "foreground": "#{{base04-hex}}",
        "cursor": "#{{base04-hex}}"
    },
    "colors": {
        "color0": "#{{base00-hex}}",
        "color1": "#{{base01-hex}}",
        "color2": "#{{base02-hex}}",
        "color3": "#{{base03-hex}}",
        "color4": "#{{base04-hex}}",
        "color5": "#{{base05-hex}}",
        "color6": "#{{base06-hex}}",
        "color7": "#{{base07-hex}}",
        "color8": "#{{base08-hex}}",
        "color9": "#{{base09-hex}}",
        "color10": "#{{base10-hex}}",
        "color11": "#{{base11-hex}}",
        "color12": "#{{base12-hex}}",
        "color13": "#{{base13-hex}}",
        "color14": "#{{base14-hex}}",
        "color15": "#{{base15-hex}}"
    }
}