{
    "wallpaper": "{{base.wallpaper}}",
    "alpha": "100",

    "special": {
        "background": "#{{base00-hex}}",
        "foreground": "#{{base05-hex}}",
        "cursor": "#{{base04-hex}}"
    },
    "colors": {
        "color0": "#{{base05-hex}}", {{! BG }}
        "color1": "#{{base08-hex}}",
        "color2": "#{{base09-hex}}",
        "color3": "#{{base0A-hex}}",
        "color4": "#{{base0B-hex}}",
        "color5": "#{{base0C-hex}}",
        "color6": "#{{base0D-hex}}",
        "color7": "#{{base0E-hex}}", {{! FG }}
        "color8": "#{{base00-hex}}",
        "color9": "#{{base01-hex}}",
        "color10": "#{{base02-hex}}",
        "color11": "#{{base03-hex}}",
        "color12": "#{{base04-hex}}",
        "color13": "#{{base05-hex}}",
        "color14": "#{{base06-hex}}",
        "color15": "#{{base07-hex}}"
    }
}