[ColorScheme]
active_colors=#{{base05-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base05-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base0F-hex}}, #{{base00-hex}}, #{{base05-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base0E-hex}}, #{{base0F-hex}}, #{{base0F-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base05-hex}}, #{{base00-hex}}, #{{base05-hex}}
disabled_colors=#{{base05-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base05-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base0F-hex}}, #{{base00-hex}}, #{{base05-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base0E-hex}}, #{{base0F-hex}}, #{{base0F-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base05-hex}}, #{{base00-hex}}, #{{base05-hex}}
inactive_colors=#{{base05-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base05-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base0F-hex}}, #{{base00-hex}}, #{{base05-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base0E-hex}}, #{{base0F-hex}}, #{{base0F-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base05-hex}}, #{{base00-hex}}, #{{base05-hex}}
