{
    "type": "dark",
    "colors": {
        "focusBorder": "#{{base05-hex}}77",
        "foreground": "#{{base05-hex}}99",
        "widget.shadow": "#0F151D",
        "selection.background": "#{{base05-hex}}77",
        "textBlockQuote.background": "#{{base01-hex}}",
        "textLink.foreground": "#{{base08-hex}}",
        "textLink.activeForeground": "#{{base08-hex}}",
        "textPreformat.foreground": "#{{base05-hex}}",
        "button.background": "#{{base08-hex}}",
        "button.foreground": "#{{base00-hex}}",
        "dropdown.background": "#{{base01-hex}}",
        "dropdown.foreground": "#{{base05-hex}}99",
        "dropdown.border": "#{{base05-hex}}77",
        "input.background": "#{{base01-hex}}",
        "input.border": "#{{base05-hex}}55",
        "input.foreground": "#{{base05-hex}}",
        "input.placeholderForeground": "#{{base05-hex}}77",
        "inputOption.activeBorder": "#{{base08-hex}}",
        "inputValidation.errorBackground": "#{{base00-hex}}",
        "inputValidation.errorBorder": "#{{base0D-hex}}",
        "inputValidation.infoBackground": "#{{base00-hex}}",
        "inputValidation.infoBorder": "#{{base0B-hex}}",
        "inputValidation.warningBackground": "#{{base00-hex}}",
        "inputValidation.warningBorder": "#{{base0A-hex}}",
        "scrollbar.shadow": "#{{base05-hex}}33",
        "scrollbarSlider.background": "#{{base05-hex}}44",
        "scrollbarSlider.hoverBackground": "#{{base05-hex}}77",
        "scrollbarSlider.activeBackground": "#{{base05-hex}}92",
        "badge.background": "#{{base08-hex}}",
        "badge.foreground": "#{{base00-hex}}",
        "progressBar.background": "#{{base08-hex}}",
        "list.activeSelectionBackground": "#{{base05-hex}}33",
        "list.activeSelectionForeground": "#{{base05-hex}}",
        "list.focusBackground": "#{{base05-hex}}33",
        "list.focusForeground": "#{{base05-hex}}99",
        "list.highlightForeground": "#{{base08-hex}}",
        "list.hoverBackground": "#{{base05-hex}}33",
        "list.hoverForeground": "#{{base05-hex}}99",
        "list.inactiveSelectionBackground": "#{{base05-hex}}33",
        "list.inactiveSelectionForeground": "#{{base05-hex}}99",
        "list.invalidItemForeground": "#{{base05-hex}}77",
        "activityBar.background": "#{{base00-hex}}",
        "activityBar.foreground": "#{{base05-hex}}",
        "activityBar.border": "#{{base05-hex}}33",
        "activityBarBadge.background": "#{{base08-hex}}",
        "activityBarBadge.foreground": "#{{base00-hex}}",
        "sideBar.background": "#{{base00-hex}}",
        "sideBar.border": "#{{base05-hex}}33",
        "sideBarTitle.foreground": "#{{base05-hex}}99",
        "sideBarSectionHeader.background": "#{{base00-hex}}",
        "sideBarSectionHeader.foreground": "#{{base05-hex}}99",
        "editorGroup.border": "#{{base05-hex}}33",
        "editorGroupHeader.noTabsBackground": "#{{base00-hex}}",
        "editorGroupHeader.tabsBackground": "#{{base00-hex}}",
        "editorGroupHeader.tabsBorder": "#{{base05-hex}}33",
        "tab.activeBackground": "#{{base01-hex}}",
        "tab.activeForeground": "#{{base05-hex}}",
        "tab.border": "#{{base05-hex}}33",
        "tab.activeBorderTop": "#{{base08-hex}}",
        "tab.unfocusedActiveBorderTop": "#{{base05-hex}}99",
        "tab.inactiveBackground": "#{{base00-hex}}",
        "tab.inactiveForeground": "#{{base05-hex}}99",
        "tab.unfocusedActiveForeground": "#{{base05-hex}}99",
        "tab.unfocusedInactiveForeground": "#{{base05-hex}}99",
        "editor.background": "#{{base01-hex}}",
        "editor.foreground": "#{{base05-hex}}",
        "editorLineNumber.foreground": "#{{base05-hex}}92",
        "editorLineNumber.activeForeground": "#{{base05-hex}}",
        "editorCursor.foreground": "#{{base08-hex}}",
        "editor.selectionBackground": "#{{base05-hex}}77",
        "editor.inactiveSelectionBackground": "#{{base05-hex}}44",
        "editor.selectionHighlightBackground": "#{{base05-hex}}44",
        "editor.selectionHighlightBorder": "#{{base05-hex}}",
        "editor.wordHighlightBackground": "#{{base05-hex}}44",
        "editor.wordHighlightStrongBackground": "#{{base0B-hex}}77",
        "editor.findMatchBackground": "#{{base08-hex}}0e",
        "editor.findMatchBorder": "#{{base08-hex}}",
        "editor.findMatchHighlightBackground": "#{{base08-hex}}0e",
        "editor.findMatchHighlightBorder": "#{{base08-hex}}66",
        "editor.findRangeHighlightBackground": "#{{base05-hex}}44",
        "editor.findRangeHighlightBorder": "#{{base00-hex}}00",
        "editor.lineHighlightBackground": "#{{base05-hex}}22",
        "editorLink.activeForeground": "#{{base08-hex}}",
        "editor.rangeHighlightBackground": "#{{base05-hex}}33",
        "editorWhitespace.foreground": "#{{base05-hex}}66",
        "editorIndentGuide.background": "#{{base05-hex}}44",
        "editorIndentGuide.activeBackground": "#{{base05-hex}}77",
        "editorRuler.foreground": "#{{base05-hex}}44",
        "editorCodeLens.foreground": "#{{base05-hex}}b0",
        "editorBracketMatch.background": "#{{base05-hex}}33",
        "editorBracketMatch.border": "#{{base05-hex}}55",
        "editorBracketHighlight.foreground1": "#{{base0C-hex}}",
        "editorBracketHighlight.foreground2": "#{{base0E-hex}}",
        "editorBracketHighlight.foreground3": "#{{base0D-hex}}",
        "editorBracketHighlight.foreground4": "#{{base0A-hex}}",
        "editorBracketHighlight.foreground5": "#{{base0B-hex}}",
        "editorBracketHighlight.foreground6": "#{{base08-hex}}",
        "editorOverviewRuler.border": "#{{base05-hex}}33",
        "editorOverviewRuler.modifiedForeground": "#{{base0A-hex}}bb",
        "editorOverviewRuler.addedForeground": "#{{base0B-hex}}bb",
        "editorOverviewRuler.deletedForeground": "#{{base0D-hex}}bb",
        "editorOverviewRuler.errorForeground": "#{{base0D-hex}}",
        "editorOverviewRuler.warningForeground": "#{{base08-hex}}",
        "editorError.foreground": "#{{base0D-hex}}",
        "editorWarning.foreground": "#{{base08-hex}}",
        "editorGutter.modifiedBackground": "#{{base0A-hex}}bb",
        "editorGutter.addedBackground": "#{{base0B-hex}}bb",
        "editorGutter.deletedBackground": "#{{base0D-hex}}bb",
        "diffEditor.insertedTextBackground": "#AB4F0933",
        "diffEditor.removedTextBackground": "#{{base0A-hex}}33",
        "editorWidget.background": "#{{base01-hex}}",
        "editorSuggestWidget.background": "#{{base01-hex}}",
        "editorSuggestWidget.border": "#{{base05-hex}}22",
        "editorSuggestWidget.highlightForeground": "#{{base08-hex}}",
        "editorSuggestWidget.selectedBackground": "#{{base05-hex}}33",
        "editorHoverWidget.background": "#{{base01-hex}}",
        "editorHoverWidget.border": "#{{base05-hex}}22",
        "debugExceptionWidget.border": "#{{base05-hex}}33",
        "debugExceptionWidget.background": "#{{base01-hex}}",
        "editorMarkerNavigation.background": "#{{base01-hex}}",
        "peekView.border": "#{{base05-hex}}33",
        "peekViewEditor.background": "#{{base01-hex}}",
        "peekViewEditor.matchHighlightBackground": "#{{base08-hex}}44",
        "peekViewResult.background": "#{{base01-hex}}",
        "peekViewResult.fileForeground": "#{{base05-hex}}99",
        "peekViewResult.matchHighlightBackground": "#{{base08-hex}}44",
        "peekViewTitle.background": "#{{base01-hex}}",
        "peekViewTitleDescription.foreground": "#{{base05-hex}}99",
        "peekViewTitleLabel.foreground": "#{{base05-hex}}99",
        "panel.background": "#{{base00-hex}}",
        "panel.border": "#{{base05-hex}}33",
        "panelTitle.activeBorder": "#{{base08-hex}}",
        "panelTitle.activeForeground": "#{{base05-hex}}",
        "panelTitle.inactiveForeground": "#{{base05-hex}}99",
        "statusBar.background": "#{{base00-hex}}",
        "statusBar.foreground": "#{{base05-hex}}",
        "statusBar.border": "#{{base05-hex}}33",
        "statusBar.debuggingBackground": "#{{base0A-hex}}",
        "statusBar.debuggingForeground": "#{{base00-hex}}dd",
        "statusBar.noFolderBackground": "#{{base01-hex}}",
        "statusBarItem.activeBackground": "#00000050",
        "statusBarItem.hoverBackground": "#00000030",
        "statusBarItem.prominentBackground": "#{{base05-hex}}33",
        "statusBarItem.prominentHoverBackground": "#00000030",
        "titleBar.activeBackground": "#{{base00-hex}}",
        "titleBar.activeForeground": "#{{base05-hex}}",
        "titleBar.inactiveBackground": "#{{base00-hex}}",
        "titleBar.inactiveForeground": "#{{base05-hex}}",
        "titleBar.border": "#{{base05-hex}}33",
        "extensionButton.prominentForeground": "#{{base00-hex}}",
        "extensionButton.prominentBackground": "#{{base08-hex}}",
        "extensionButton.prominentHoverBackground": "#{{base08-hex}}b3",
        "pickerGroup.border": "#{{base05-hex}}33",
        "pickerGroup.foreground": "#{{base05-hex}}b3",
        "debugTokenExpression.value": "#{{base05-hex}}b3",
        "debugToolBar.background": "#{{base00-hex}}",
        "walkThrough.embeddedEditorBackground": "#{{base01-hex}}",
        "gitDecoration.modifiedResourceForeground": "#{{base0A-hex}}cc",
        "gitDecoration.deletedResourceForeground": "#{{base0D-hex}}cc",
        "gitDecoration.untrackedResourceForeground": "#{{base0B-hex}}cc",
        "gitDecoration.ignoredResourceForeground": "#{{base05-hex}}66",
        "gitDecoration.submoduleResourceForeground": "#{{base05-hex}}b0",
        "settings.headerForeground": "#{{base05-hex}}",
        "settings.modifiedItemIndicator": "#{{base0B-hex}}",
        "terminal.background": "#{{base00-hex}}",
        "terminal.foreground": "#{{base05-hex}}",
        "terminal.ansiBlack": "#{{base00-hex}}",
        "terminal.ansiRed": "#{{base08-hex}}",
        "terminal.ansiGreen": "#{{base0B-hex}}",
        "terminal.ansiYellow": "#{{base0A-hex}}",
        "terminal.ansiBlue": "#{{base0D-hex}}",
        "terminal.ansiMagenta": "#{{base0E-hex}}",
        "terminal.ansiCyan": "#{{base0C-hex}}",
        "terminal.ansiWhite": "#{{base05-hex}}",
        "terminal.ansiBrightBlack": "#{{base05-hex}}",
        "terminal.ansiBrightRed": "#71370F",
        "terminal.ansiBrightGreen": "#AB4F09",
        "terminal.ansiBrightYellow": "#AF999B",
        "terminal.ansiBrightBlue": "#CBB5A8",
        "terminal.ansiBrightMagenta": "#{{base05-hex}}",
        "terminal.ansiBrightCyan": "#F6EFE5",
        "terminal.ansiBrightWhite": "#F6F0E4"
    },
    "tokenColors": [
        {
            "settings": {
                "background": "#{{base00-hex}}",
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Comment",
            "scope": [
                "comment"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base05-hex}}b0"
            }
        },
        {
            "name": "String",
            "scope": [
                "string",
                "constant.other.symbol"
            ],
            "settings": {
                "foreground": "#AB4F09"
            }
        },
        {
            "name": "Regular Expressions and Escape Characters",
            "scope": [
                "string.regexp",
                "constant.character",
                "constant.other"
            ],
            "settings": {
                "foreground": "#F6EFE5"
            }
        },
        {
            "name": "Number",
            "scope": [
                "constant.numeric"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "Built-in constants",
            "scope": [
                "constant.language"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}"
            }
        },
        {
            "name": "Variable",
            "scope": [
                "variable"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Member Variable",
            "scope": [
                "variable.member"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}"
            }
        },
        {
            "name": "Language variable",
            "scope": [
                "variable.language"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Storage",
            "scope": [
                "storage"
            ],
            "settings": {
                "foreground": "#F6EFE5"
            }
        },
        {
            "name": "type",
            "scope": [
                "storage.modifier"
            ],
            "settings": {
                "foreground": "#AF999B"
            }
        },
        {
            "name": "type",
            "scope": [
                "meta.specification.type.fortran"
            ],
            "settings": {
                "foreground": "#F6F0E4"
            }
        },
        {
            "name": "Keyword",
            "scope": [
                "keyword"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}"
            }
        },
        {
            "name": "Operators",
            "scope": [
                "keyword.operator",
                "keyword.other",
                "keyword.control",
                "keyword.logical"
            ],
            "settings": {
                "foreground": "#AF999B"
            }
        },
        {
            "name": "Separators like ; or ,",
            "scope": [
                "punctuation.separator",
                "punctuation.terminator"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}b0"
            }
        },
        {
            "name": "Punctuation",
            "scope": [
                "punctuation.section"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Accessor",
            "scope": [
                "punctuation.accessor"
            ],
            "settings": {
                "foreground": "#{{base0A-hex}}"
            }
        },
        {
            "name": "Types fixes",
            "scope": [
                "source.java storage.type",
                "source.haskell storage.type",
                "source.c storage.type"
            ],
            "settings": {
                "foreground": "#CBB5A8"
            }
        },
        {
            "name": "Inherited class type",
            "scope": [
                "entity.other.inherited-class"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Lambda arrow",
            "scope": [
                "storage.type.function"
            ],
            "settings": {
                "foreground": "#F6EFE5"
            }
        },
        {
            "name": "Java primitive variable types",
            "scope": [
                "source.java storage.type.primitive"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Function name",
            "scope": [
                "entity.name.function"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Function arguments",
            "scope": [
                "variable.parameter"
            ],
            "settings": {
                "foreground": "#F6F0E4"
            }
        },
        {
            "name": "Function arguments",
            "scope": [
                "meta.parameter"
            ],
            "settings": {
                "foreground": "#F6F0E4"
            }
        },
        {
            "name": "Function call",
            "scope": [
                "variable.function",
                "variable.annotation",
                "meta.function-call.generic",
                "support.function.go"
            ],
            "settings": {
                "foreground": "#AF999B"
            }
        },
        {
            "name": "Library function",
            "scope": [
                "support.function",
                "support.macro"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "Imports and packages",
            "scope": [
                "entity.name.import",
                "entity.name.package"
            ],
            "settings": {
                "foreground": "#AB4F09"
            }
        },
        {
            "name": "Entity name",
            "scope": [
                "entity.name"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Tag",
            "scope": [
                "entity.name.tag",
                "meta.tag.sgml"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Tag start/end",
            "scope": [
                "punctuation.definition.tag.end",
                "punctuation.definition.tag.begin",
                "punctuation.definition.tag"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}77"
            }
        },
        {
            "name": "Tag attribute",
            "scope": [
                "entity.other.attribute-name"
            ],
            "settings": {
                "foreground": "#AF999B"
            }
        },
        {
            "name": "Library constant",
            "scope": [
                "support.constant"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base0A-hex}}"
            }
        },
        {
            "name": "Library class/type",
            "scope": [
                "support.type",
                "support.class",
                "source.go storage.type"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Decorators/annotation",
            "scope": [
                "meta.decorator variable.other",
                "meta.decorator punctuation.decorator",
                "storage.type.annotation"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Invalid",
            "scope": [
                "invalid"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "diff.header",
            "scope": [
                "meta.diff",
                "meta.diff.header"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Ruby class methods",
            "scope": [
                "source.ruby variable.other.readwrite"
            ],
            "settings": {
                "foreground": "#AF999B"
            }
        },
        {
            "name": "CSS tag names",
            "scope": [
                "source.css entity.name.tag",
                "source.sass entity.name.tag",
                "source.scss entity.name.tag",
                "source.less entity.name.tag",
                "source.stylus entity.name.tag"
            ],
            "settings": {
                "foreground": "#CBB5A8"
            }
        },
        {
            "name": "CSS browser prefix",
            "scope": [
                "source.css support.type",
                "source.sass support.type",
                "source.scss support.type",
                "source.less support.type",
                "source.stylus support.type"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}b0"
            }
        },
        {
            "name": "CSS Properties",
            "scope": [
                "support.type.property-name"
            ],
            "settings": {
                "fontStyle": "normal",
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Search Results Nums",
            "scope": [
                "constant.numeric.line-number.find-in-files - match"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}b0"
            }
        },
        {
            "name": "Search Results Match Nums",
            "scope": [
                "constant.numeric.line-number.match"
            ],
            "settings": {
                "foreground": "#F6EFE5"
            }
        },
        {
            "name": "Search Results Lines",
            "scope": [
                "entity.name.filename.find-in-files"
            ],
            "settings": {
                "foreground": "#AB4F09"
            }
        },
        {
            "scope": [
                "message.error"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "Markup heading",
            "scope": [
                "markup.heading",
                "markup.heading entity.name"
            ],
            "settings": {
                "fontStyle": "bold",
                "foreground": "#AB4F09"
            }
        },
        {
            "name": "Markup links",
            "scope": [
                "markup.underline.link",
                "string.other.link"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Markup Italic",
            "scope": [
                "markup.italic"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base08-hex}}"
            }
        },
        {
            "name": "Markup Bold",
            "scope": [
                "markup.bold"
            ],
            "settings": {
                "fontStyle": "bold",
                "foreground": "#{{base08-hex}}"
            }
        },
        {
            "name": "Markup Bold/italic",
            "scope": [
                "markup.italic markup.bold",
                "markup.bold markup.italic"
            ],
            "settings": {
                "fontStyle": "bold italic"
            }
        },
        {
            "name": "Markup Code",
            "scope": [
                "markup.raw"
            ],
            "settings": {
                "background": "#{{base05-hex}}06"
            }
        },
        {
            "name": "Markup Code Inline",
            "scope": [
                "markup.raw.inline"
            ],
            "settings": {
                "background": "#{{base05-hex}}10"
            }
        },
        {
            "name": "Markdown Separator",
            "scope": [
                "meta.separator"
            ],
            "settings": {
                "fontStyle": "bold",
                "background": "#{{base05-hex}}10",
                "foreground": "#{{base05-hex}}b0"
            }
        },
        {
            "name": "Markup Blockquote",
            "scope": [
                "markup.quote"
            ],
            "settings": {
                "foreground": "#F6EFE5",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Markup List Bullet",
            "scope": [
                "markup.list punctuation.definition.list.begin"
            ],
            "settings": {
                "foreground": "#AF999B"
            }
        },
        {
            "name": "Markup added",
            "scope": [
                "markup.inserted"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Markup modified",
            "scope": [
                "markup.changed"
            ],
            "settings": {
                "foreground": "#{{base0A-hex}}"
            }
        },
        {
            "name": "Markup removed",
            "scope": [
                "markup.deleted"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "Markup Strike",
            "scope": [
                "markup.strike"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Markup Table",
            "scope": [
                "markup.table"
            ],
            "settings": {
                "background": "#{{base05-hex}}10",
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Markup Raw Inline",
            "scope": [
                "text.html.markdown markup.inline.raw"
            ],
            "settings": {
                "foreground": "#{{base0A-hex}}"
            }
        },
        {
            "name": "Markdown - Line Break",
            "scope": [
                "text.html.markdown meta.dummy.line-break"
            ],
            "settings": {
                "background": "#{{base05-hex}}b0",
                "foreground": "#{{base05-hex}}b0"
            }
        },
        {
            "name": "Markdown - Raw Block Fenced",
            "scope": [
                "punctuation.definition.markdown"
            ],
            "settings": {
                "background": "#{{base05-hex}}",
                "foreground": "#{{base05-hex}}b0"
            }
        }
    ]
}⏎