{
    "manifest_version": "1",
    "name": "base16",
    "display_name": "base16 {{scheme-name}}",
    "extend_theme": "",
    "css_file": "theme.css",
    "css_file_gtk_3.20+": "theme-gtk-3.20.css",
    "matched_text_hl_colors": {
        "when_selected": "#{{base06-hex}}",
        "when_not_selected": "#{{base06-hex}}"
    }
}
